html
::-webkit-scrollbar {
 display: none;
}
/* html {
  background-color: #131921;
} */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* overflow-y:hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-green-300 to-green-500 border border-green-700 rounded-sm focus:outline-none focus:ring-2 
  }
  .button-mercadopago {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-blue-300 to-blue-500 border border-blue-700 rounded-sm focus:outline-none focus:ring-2 
  }
  .button-danger {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-red-300 to-red-500 border border-red-700 rounded-sm focus:outline-none focus:ring-2 
  }
}